<include file="Common@Public/N_header" />

<form class="am-form" action="{:U('Exam/sub_exam')}">
  	<fieldset style="text-align: center">
    	<legend>{$menu_title}</legend>
		<foreach name="exam_question" item="vo1" key="k">
			<ul style="list-style: none;margin-right: 30px;text-align: left">
				<li>{$k+1}: {$vo1.question}</li>
				<foreach name="exam_option" item="vo2" key="k2">
					<eq name="vo1.q_id" value="$vo2.q_id">
						<li><input type="radio" name="doc-radio-{$k+1}" value="{$vo1.q_id}+{$vo2.a_id}">
				        {$vo2.answer}</li>
			        </eq>
		        </foreach>
			</ul>
		</foreach>
		<input type="hidden" name="option" value="{$k+1}">
		<p><button type="submit" class="am-btn am-btn-default">提交</button></p>
	</fieldset>
</form>
<include file="Common@Public/N_footer" />