<include file="Common@Public/A_header" />

<div class="am-g">
    <div class="am-u-lg-4 am-u-md-5 am-u-sm-centered">
        <legend>管理员登陆</legend>
        <form method="post" class="am-form">
            <input type="text" name="id"  placeholder="管理员账号">
            <br>
            <input type="password" name="pwd" placeholder="密码">
            <br>
            <div class="am-cf">
                <input name="" value="登陆" class="am-btn am-btn-primary am-btn-sm am-fl" type="submit">
            </div>
        </form>
        <hr>
<!--         <p>© 2015 &lt;/CZJT&gt;, Inc. </p> -->
    </div>
</div>

<include file="Common@Public/N_footer" />